@import "tailwindcss";

:root {
  /* ===== Colors ===== */
  --primary: #001335;
  --secondary: #0A70FF;
  --background: #FFFFFF;
  --button: #002C88;
  --accent: #2191FF;
  --grays: #696969;

  /* ===== Gradients ===== */
  --gradient-start: #B36AE9; 
  --gradient-middle: #EC6189; 
  --gradient-end: #FCA74B; 
  --gradient-start-two: #00F090;
  --gradient-end-two: #009EFB;
}

@theme {
  /* Colors */
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-background: var(--background);
  --color-foreground: var(--primary);
  --color-button: var(--button);
  --color-accent: var(--accent);
  --color-grays: var(--grays);

  /* Gradient colors */
  --color-gradient-start: var(--gradient-start);
  --color-gradient-middle: var(--gradient-middle);
  --color-gradient-end: var(--gradient-end);
  --color-gradient-start-two: var(--gradient-start-two);
  --color---gradient-end-two: var(--gradient-end-two);

  /* Fonts */
  /* --font-custom: var(--font-custom);
  --font-sans: var(--font-onest);  */
}


@layer base {
  * {
    @apply m-0 p-0 box-border;
  }
  

  body {
    @apply bg-background text-foreground;
  }
}


body::-webkit-scrollbar, .no-scroll::-webkit-scrollbar {
  display: none;
}


@keyframes cloudMove1 {
  0%   { transform: translateX(-120%); }
  100% { transform: translateX(120vw); }
}
@keyframes cloudMove2 {
  0%   { transform: translateX(-150%); }
  100% { transform: translateX(120vw); }
}
@keyframes cloudMove3 {
  0%   { transform: translateX(-180%); }
  100% { transform: translateX(120vw); }
}

.animate-cloudMove1 { animation: cloudMove1 40s linear infinite; }
.animate-cloudMove2 { animation: cloudMove2 55s linear infinite; }
.animate-cloudMove3 { animation: cloudMove3 70s linear infinite; }



